/*Global Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body {
    background-color: #F2EAE2;
    font-family: 'Fraunces', serif;
    font-size: 0.875rem;
    
 }
 /*Card Styles*/
 .desktop-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 600px;
    height: 456px;
    margin: 80px auto;
     
 }
 .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;;
 }
 .img-container {
    width: 50%;
    height: 100%;

 }
 .product-info h1,
  .mobile-info h1 {
    font-size: 0.75rem;
    color: #6C7289;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;    
    letter-spacing: 4px;
    line-height: 1.5;
 }
 .product-info h2,
  .mobile-info h2 {
    font-size: 2rem;
    color: #1C232B;
    font-weight: 900;
    font-family: 'Fraunces', serif;

 }
 .product-info p,
 .mobile-info p {
    font-size: 0.875rem;
    color: #6C7289;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;      
 }
 .product-info .price, 
 .mobile-info .mobile-price {
    font-size: 1rem;
    color: #3D8168;
    font-weight: 900;
    font-family: 'Fraunces', serif;  
    display: flex;
    align-items: center;
    gap: 16px;
 }
 .product-info .price del,
  .mobile-info .mobile-price del {
    color: #6C7289;
    font-weight: 400;
    margin-left: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
 }
 .btn-cart, 
 .mobile-btn-cart {
    background-color: #3D8168;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    gap: 8px;
    padding: 16px 32px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(61, 129, 104, 0.4);
 }
 .btn-cart:hover,
 .mobile-btn-cart:hover {
    background-color: #1A4032;
 }

 footer {
    text-align: center;
    font-size: 0.8rem;
    color: #1C232B;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;      
   
}
 footer a {
    color: #3D8168;
    text-decoration: none;
    font-weight: 700;
    }

    footer a:hover {
    text-decoration: underline;
    color: #1A4032
    }

 /*Mobile Card Styles*/
 .mobile-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 350px;
    height: 750px;
    margin: 50px auto;  

 }
 .mobile-info {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    justify-content: space-between;
 }


 /*Responsive Design */
 @media (max-width: 388px) {
    .desktop-card {
        display: none;
    }
    .mobile-card {
        display: flex;
        width: 90%;
        height: auto;
        margin: 20px auto;
        flex-direction: column;
        overflow: hidden;
    }
    .img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
 }
 @media (min-width: 389px) {
    .mobile-card {
        display: none;
    }
    .desktop-card {
        display: flex;


    }
 }

